<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>

 <link rel="stylesheet" href="/css/main.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  <div class="app-container">
    <section id="left-menu">
      <div class="account-dropdown">
        <div class="logo">
          <i class="fab fa-opera"></i>
        </div>
        <div class="name">Curtis Atkins</div>
        <div class="icon">
          <a href="#">
            <i class="fas fa-chevron-down"></i>
          </a>
        </div>


      </div>
      <div class="groups">
        <div class="group">
          <div class="title">Favorites</div>
          <ul>
            <li>link</li>
            <li>link</li>
            <li>link</li>
            <li>link</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="content-area">
    </section>
    <section id="messenger">
    </section>

  </div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/FirstComp.js"></script>
</body>
</html>
